{% extends 'base.html.twig' %}

{% block title %}{{ deck.getDname() }}{% endblock %}
{% block body %}

<h1> {{ deck.getDname() }} </h1>
<span> Owner: {{deck.getMember()}} </span>

<table style="border-spacing: 1rem ;">
    <thead>
        <tr>
            <th> card_name </th>
            <th> card_class </th>
            <th> &nbsp </th>
        </tr>
    </thead>
    <tbody>
    {% for card in d_cards %}
        <tr> 
            <td> {{card.getCardName()}} </td>
            <td> {{card.getCardClass()}} </td>
            <td> <a href="{{ path('CardControllercard_show', {'id': card.id})}}"> show </a> </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}